<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="webcam_l_w_h" value="0.02456 0.07996 0.03426" />

  <xacro:macro name="camera" params="*origin">
    <link name="camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${webcam_l_w_h}"/>
          <!-- <mesh filename="" scale="0.001 0.001 0.001"/> -->
        </geometry>
        <material name="red">
          <color rgba="0.416 0.051 0.047 1.0"/>
        </material>
      </visual>
      
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${webcam_l_w_h}"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.135"/>
        <inertia ixx="${(1/12) * 0.135 * ((0.124  * 0.124)  + (0.030 * 0.030))}" ixy="0.0" ixz="0.0"
                 iyy="${(1/12) * 0.135 * ((0.030 * 0.030) + (0.030 * 0.030))}" iyz="0.0"
                 izz="${(1/12) * 0.135 * ((0.030 * 0.030) + (0.124  * 0.124))}"/>
      </inertial>
    </link>
    
    <gazebo reference="camera_link">  
      <visual>  
        <material>
          <ambient>0.416 0.051 0.047 1.0</ambient>  
          <diffuse>0.416 0.051 0.047 1.0</diffuse>  
          <specular>0.416 0.051 0.047 1.0</specular>  
          <emissive>0.416 0.051 0.047 1.0</emissive>  
        </material>
      </visual> 
    </gazebo>rgb(213,28,40)

    <joint name="camera_to_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="camera_link"/>
      <xacro:insert_block name="origin" />
    </joint>

    <link name="camera_link_optical"/>

    <joint name="camera_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
      <parent link="camera_link"/>
      <child link="camera_link_optical"/>
    </joint>

    <!-- https://github.com/ros-simulation/gazebo_ros_pkgs/wiki/ROS-2-Migration:-Camera#gazebo_ros_camera -->
    <gazebo reference="camera_link">
      <material>Gazebo/Black</material>
      <sensor name="camera" type="camera">
        <pose>  0 0 0 0 0 0</pose>
        <update_rate>24.0</update_rate>
        <visualize>true</visualize>
        <camera name="camera">
          <!-- TODO find info about webcam -->
          <horizontal_fov>1.0</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>8</far>
          </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <frame_name>camera_link_optical</frame_name>
        </plugin>
      </sensor>

    </gazebo>
  </xacro:macro>
</robot>
  