<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="depth_sensor" params="*origin">
    <link name="camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.030 0.124 0.030"/>
          <!-- <mesh filename="" scale="0.001 0.001 0.001"/> -->
        </geometry>
        <material name="red">
          <color rgba="0.416 0.051 0.047 1.0"/>
        </material>
      </visual>
      
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.030 0.124 0.030"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.135"/>
        <inertia ixx="${(1/12) * 0.135 * ((0.124  * 0.124)  + (0.030 * 0.030))}" ixy="0.0" ixz="0.0"
                 iyy="${(1/12) * 0.135 * ((0.030 * 0.030) + (0.030 * 0.030))}" iyz="0.0"
                 izz="${(1/12) * 0.135 * ((0.030 * 0.030) + (0.124  * 0.124))}"/>
      </inertial>
    </link>
    
    <gazebo reference="camera_link">  
      <visual>  
        <material>
          <ambient>0.416 0.051 0.047 1.0</ambient>  
          <diffuse>0.416 0.051 0.047 1.0</diffuse>  
          <specular>0.416 0.051 0.047 1.0</specular>  
          <emissive>0.416 0.051 0.047 1.0</emissive>  
        </material>
      </visual> 
    </gazebo>rgb(213,28,40)

    <joint name="camera_to_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="camera_link"/>
      <xacro:insert_block name="origin" />
    </joint>

    <link name="camera_depth_link"/>
    <joint name="camera_depth_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
      <parent link="camera_link"/>
      <child link="camera_depth_link"/>
    </joint>

    <!-- https://github.com/ros-simulation/gazebo_ros_pkgs/wiki/ROS-2-Migration:-Camera#gazebo_ros_camera -->
    <gazebo reference="camera_link">
      <sensor name="camera" type="depth">
        <always_on>true</always_on>
        <update_rate>30.0</update_rate>
        <camera name="camera">
          <horizontal_fov>1.50098</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <ros>
            <remapping>/camera/camera_info:=/camera/color/camera_info</remapping>
            <remapping>/camera/image_raw:=/camera/color/image_raw</remapping>
            <remapping>/camera/points:=/camera/depth/color/points</remapping>
            <remapping>/camera/depth/image_raw:=/camera/depth/image_rect_raw</remapping>
          </ros>
          <min_depth>0.015</min_depth>
          <max_depth>3.0</max_depth>
          <hack_baseline>0.07</hack_baseline>
          <frame_name>camera_depth_link</frame_name>
          <distortion_k1>0.00000001</distortion_k1>
          <distortion_k2>0.00000001</distortion_k2>
          <distortion_k3>0.00000001</distortion_k3>
          <distortion_t1>0.00000001</distortion_t1>
          <distortion_t2>0.00000001</distortion_t2>
        </plugin>
      </sensor>

    </gazebo>
  </xacro:macro>
</robot>
  