<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="laser" params="*origin update_rate ray_count min_angle max_angle min_range max_range">
    <link name="laser"/>

    <joint name="laser_to_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="laser"/>
      <xacro:insert_block name="origin" />
    </joint>
    
    <gazebo reference="laser">
      <sensor type="ray" name="head_hokuyo_sensor">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>${ray_count}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=scan</remapping>                                                               
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <topicName>scan</topicName>
          <frame_name>laser</frame_name>
          <output_type>sensor_msgs/LaserScan</output_type>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
  