<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ld06" params="*origin">
    <xacro:include filename="$(find linorobot2_description)/urdf/sensors/laser.urdf.xacro" />
    <xacro:laser
      update_rate="10"
      ray_count="360"
      min_angle="-3.1416"
      max_angle="3.1416"
      min_range="0.08"
      max_range="12.0"
    >
      <xacro:insert_block name="origin" />
    </xacro:laser>
  </xacro:macro>
</robot>