<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="diff_drive_controller" params="wheel_separation wheel_radius">
    <gazebo>
      <plugin
        filename="gz-sim-diff-drive-system"
        name="gz::sim::systems::DiffDrive">
          <topic>cmd_vel</topic>
          <!-- <frame_id>odom</frame_id> -->
          <child_frame_id>base_footprint</child_frame_id>
          <odom_topic>odom/unfiltered</odom_topic>
          <!-- <tf_topic>/tf</tf_topic> -->
          <left_joint>front_left_wheel_joint</left_joint>
          <right_joint>front_right_wheel_joint</right_joint>
          <left_joint>rear_left_wheel_joint</left_joint>
          <right_joint>rear_right_wheel_joint</right_joint>
          <wheel_separation>${wheel_separation}</wheel_separation>
          <wheel_radius>${wheel_radius}</wheel_radius>
          <odom_publish_frequency>50</odom_publish_frequency>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
        <topic>joint_states</topic>
        <update_rate>50</update_rate>
        <joint_name>front_left_wheel_joint</joint_name>
        <joint_name>front_right_wheel_joint</joint_name>
        <joint_name>rear_left_wheel_joint</joint_name>
        <joint_name>rear_right_wheel_joint</joint_name>
      </plugin>    
    </gazebo>
  </xacro:macro>
</robot>