<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="base_length" value="0.60" />
  <xacro:property name="base_width" value="0.40" />
  <xacro:property name="base_height" value="0.30" />
  <xacro:property name="base_mass" value="1" />

  <xacro:property name="wheel_radius" value="0.08255" />
  <xacro:property name="wheel_width" value="0.058" />
  <xacro:property name="wheel_pos_x" value="0.15" />
  <xacro:property name="wheel_pos_y" value="0.25" />
  <xacro:property name="wheel_pos_z" value="0.08255" />
  <xacro:property name="wheel_mass" value="3" />
  <xacro:property name="wheel_torque" value="20" />
  <!-- <xacro:property name="front_caster_wheel" value="true" />
  <xacro:property name="rear_caster_wheel" value="true" /> -->

  <xacro:property name="lift_plate_length" value="0.30" />
  <xacro:property name="lift_plate_width" value="0.30" />
  <xacro:property name="lift_plate_height" value="0.01" />
  <xacro:property name="lift_plate_mass" value="0.5" />
  <xacro:property name="lift_plate_wheel_pos_x" value="-0.1" />
  <xacro:property name="lift_plate_wheel_pos_y" value="0" />
  <xacro:property name="lift_plate_wheel_pos_z" value="0.35" />

  <xacro:property name="caster_wheel_x" value="-0.15" />
  <xacro:property name="caster_wheel_y" value="0.15" />

  <xacro:property name="laser_pose">
    <origin xyz="0.12 0 0.15" rpy="0 0 0"/>
  </xacro:property>

  <xacro:property name="depth_sensor_pose">
    <origin xyz="0.3 0.0 0.045" rpy="0 0 0"/>
  </xacro:property>

</robot>